body,
html {
 background-color: #AEB8FE;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
}

.dice {
 width: 90px;
 height: 90px;
 border-radius: 10px;
 background-color: #EFE5DC;
 margin: 100px;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
 justify-items: center;
 align-items: center;

}

.dot {
 width: 20px;
 height: 20px;
 min-height: 20px;
 border-radius: 50%;
 background-color: black;
 display: flex;
 justify-content: center;
 align-items: center;
}